/*
Color
*/

// PRIMARY COLORS
$primary: #ffe8eb;
$secondary: #322b2b;

$dark: #000000;
$white: #ffffff;

$rimac-red: #ef3340;
$rimac-gray-titles: #494f66;
$rimac-gray-paragraph: #676f8f;
$rimac-gray03: #a3abcc;
$rimac-gray05: #e4e8f7;
$rimac-gray06: #f0f2fa;
$rimac-gray07: #f7f8fc;
$rimac-blueberry: #6464fa;
