/* Utilities
   ========================================================================== */

@mixin truncate-lines($size) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $size;
  overflow: hidden;
}

// Mixin

@mixin flexbox-param($display, $align, $justify) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
}

@mixin font-details($size, $line-h, $weight, $color) {
  font-size: $size;
  line-height: $line-h;
  font-weight: $weight;
  color: $color;
}
